pkgbase = dtee
	pkgdesc = Run a program with standard output and standard error copied to files
	pkgver = 1.1.2
	pkgrel = 1
	url = https://dtee.readthedocs.io/
	arch = x86_64
	license = GPL3
	checkdepends = bash
	checkdepends = coreutils
	checkdepends = diffutils
	checkdepends = findutils
	makedepends = boost
	makedepends = meson
	makedepends = ninja
	makedepends = python-sphinx
	depends = boost-libs
	depends = libboost_program_options.so
	options = zipman
	options = lto
	source = https://dtee.bin.uuid.uk/source/dtee-1.1.2.tar.gz
	source = https://dtee.bin.uuid.uk/source/dtee-1.1.2.tar.gz.asc
	validpgpkeys = 47849A12DAF9BD2AF5505FBB4FF886F318206BD9
	sha256sums = 2b9ec3a2e7be8eee956e2cb73bc083c1aacd7634f4f900090a1e6fcbb0dc1067
	sha256sums = SKIP

pkgname = dtee
