Source: dtee
Section: utils
Priority: optional
Maintainer: Simon Arlott <debian@sa.me.uk>
Build-Depends: debhelper (>=9), python3 (>=3.4.2), virtualenv (>=1.11.6),
 libboost-dev (>=1.55), libboost-filesystem-dev (>=1.55),
 libboost-program-options-dev (>=1.55),
 dash (>=0.5.7), bash (>=4.3), coreutils (>=8.23), diffutils (>=1:3.3),
 findutils (>=4.4.2)
Standards-Version: 3.9.6
Homepage: https://dtee.readthedocs.io/

Package: dtee
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Run a program with standard output and standard error copied to files
 Run a program with standard output and standard error copied to files while
 maintaining the original standard output and standard error as normal.
 .
 Run a program from cron, suppressing all output unless the process outputs an
 error message or has a non-zero exit status whereupon the original output will
 be written as normal and the exit code will be appended to standard error.
