Source: dtee
Section: utils
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>=12), meson (>=0.53.2), ninja-build (>=1.10.0),
 libboost-dev (>=1.71), libboost-filesystem-dev (>=1.71),
 libboost-program-options-dev (>=1.71), python3-sphinx (>=1.8.5),
 dash (>=0.5.8), bash (>=4.4), coreutils (>=8.28), diffutils (>=1:3.6),
 findutils (>=4.6.0)
Standards-Version: 4.5.0
Homepage: https://dtee.readthedocs.io/

Package: dtee
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Run a program with standard output and standard error copied to files
 Run a program with standard output and standard error copied to files while
 maintaining the original standard output and standard error as normal.
 .
 Can also operate in cron mode (implied when invoked as "cronty"). Suppresses
 all output unless the process outputs an error message or has a non-zero exit
 status whereupon the original output will be written as normal and the exit
 code will be appended to standard error.
