Source: dtee
Section: utils
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>=9), dh-virtualenv (>=1.0), python3 (>=3.6),
 ninja-build (>=1.8.2), libboost-dev (>=1.65), libboost-filesystem-dev (>=1.65),
 libboost-program-options-dev (>=1.65), python3-sphinx (>=1.6.7)
Standards-Version: 3.9.8
Homepage: https://dtee.readthedocs.io/

Package: dtee
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Run a program with standard output and standard error copied to files
 Run a program with standard output and standard error copied to files while
 maintaining the original standard output and standard error as normal.
 .
 Run a program from cron, suppressing all output unless the process outputs an
 error message or has a non-zero exit status whereupon the original output will
 be written as normal and the exit code will be appended to standard error.
