#!/usr/bin/make -f

DH_DTEE_BIN=$(CURDIR)/build/virtualenv/dtee/bin

%:
	dh $@

override_dh_auto_build:
	virtualenv --python /usr/bin/python3 build/virtualenv/dtee
	build/virtualenv/dtee/bin/python3 build/virtualenv/dtee/bin/pip install -r debian/requirements.txt --no-deps --ignore-installed
	PATH="$(DH_DTEE_BIN):$(PATH)" meson --prefix /usr --buildtype=plain build/debian --unity on
	PATH="$(DH_DTEE_BIN):$(PATH)" ninja -v -C build/debian

override_dh_auto_test:
	PATH="$(DH_DTEE_BIN):$(PATH)" ninja -v -C build/debian test

override_dh_auto_install:
	PATH="$(DH_DTEE_BIN):$(PATH)" DESTDIR="$(CURDIR)/debian/dtee" ninja -v -C build/debian install
	ln -sf dtee "$(CURDIR)/debian/dtee/usr/bin/cronty"
	ln -sf dtee.1 "$(CURDIR)/debian/dtee/usr/share/man/man1/cronty.1"
