#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	meson --prefix /usr --buildtype=plain build/debian
	ninja -v -C build/debian -j 1

override_dh_auto_test:
	ninja -v -C build/debian test

override_dh_auto_install:
	DESTDIR="$(CURDIR)/debian/dtee" ninja -v -C build/debian install
	ln -sf dtee "$(CURDIR)/debian/dtee/usr/bin/cronty"
	ln -sf dtee.1 "$(CURDIR)/debian/dtee/usr/share/man/man1/cronty.1"
